@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    background: #273C4F;
    background-color: #273C4F;
    font-family: "PT Sans", sans-serif;
}

.login h1 a {
    background-color: #FF4459 !important;
    background-image: none !important;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect width="100" height="100" fill="black"/></svg>') no-repeat center / contain !important;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect width="100" height="100" fill="black"/></svg>') no-repeat center / contain !important;
    background-size: 100% !important;
    width: 150px !important;
}

.login form {
    padding: 45px 35px;
}

a {
    transition: all 0.5s ease;
}

a:hover {
    color: #FF4459 !important;
    text-decoration: underline !important;
}

.login input[type=text],
.login input[type=password] {
    font-size: 15px;
    padding: 0 10px;
    box-shadow: none;
    border: 1px solid #7e8993;
    background-color: #1e2e3d;
    color: #fff;
}

.wp-core-ui .button-primary {
    background: transparent;
    border: 2px solid #FF4459;
    font-size: 14px !important;
    line-height: 1.2;
    min-height: 2.5rem;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    padding: 6px 23px !important;
    width: 100%;
    text-align: left;
    transition: all 0.5s ease;
}

.wp-core-ui .button-primary:hover {
    color: #fff;
    background: #FF4459;
    border: 2px solid #FF4459;
}

.wp-core-ui .button-primary:focus,
.login h1 a:focus {
    box-shadow: none;
    background: #FF4459;
}

.login form .forgetmenot {
    float: none;
    display: inline-block;
    margin-bottom: 20px !important;
}

.login .button-primary {
    float: none;
    display: inline-block;
    text-align: center;
}

.login .privacy-policy-page-link {
    margin: 6px 0;
    display: block;
}

.privacy-policy-link {
    text-decoration: none;
    color: #a0a5aa;
}

.login .message {
    border-left: 4px solid #FF4459;
    border-radius: 10px;
    background-color: #324a5e;
    color: #fff;
}

.login form {
    border-radius: 10px;
    background-color: #324a5e;
    position: relative;
    overflow: visible;
    color: #fff;
}

.login label {
    color: #fff;
}

.login form .input:focus,
.login input[type="text"]:focus,
.login input[type=checkbox]:focus {
    box-shadow: none;
    border: 1px solid #FF4459 !important;
}

.login #loginform {
    margin-bottom: 5rem;
}

.login #loginform::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    border: 3px solid #FF4459;
    bottom: -35px;
    right: -35px;
    border-radius: 150px;
    transition: all 1s ease;
    z-index: -1;
}

.login #loginform:hover::after {
    width: 180px;
    height: 180px;
    right: -50px;
    bottom: -50px;
}


#backtoblog {
    margin: 10px 0;
}

#backtoblog,
#nav {
    text-align: center;
}

.login #backtoblog a,
.login #nav a,
.login .privacy-policy-page-link a,
.language-switcher label .dashicons {
    color: #fff;
}

input[type=checkbox] {
    height: 16px !important;
    width: 15px !important;
    box-shadow: none;
    border: 1px solid #7e8993;
}

input[type=checkbox]:checked::before {
    width: 19px !important;
    height: 18px !important;
    margin: -2px 0px 0px -3px !important;
}

.dashicons-visibility:before,
.dashicons-hidden:before {
    color: #FF4459;
}

.dashicons {
    margin-top: 0px;
}

.interim-login.login h1 a {
    width: 140px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.wp-core-ui .button {
    color: #fff;
    border-color: #fff;
    background: transparent;
}

.wp-core-ui .button:hover {
    color: #FF4459;
    border-color: #FF4459;
}