@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    background: linear-gradient(to bottom, #273C4F 50%, #2B4457 50%);
    background-color: #273C4F;
    font-family: "PT Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login #login {
    padding: 0 !important;
    position: relative;
    overflow: visible !important;
}

.login h1 a {
    background-image: url(https://mademarketing.nl/wp-content/uploads/2019/08/made-marketing-logo.png) !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 80% !important;
    height: 100px !important;
    background-color: transparent !important;
    transition: all 0.5s ease;
}

.login h1 a:hover {
    transform: scale(1.125);
}

.login form {
    padding: 45px 35px;
}

a {
    transition: all 0.5s ease;
}

a:hover {
    color: #FF4459 !important;
    text-decoration: underline !important;
}

.login input[type=text],
.login input[type=password] {
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: none;
    border: 1px solid #7e8993;
    background-color: #1e2e3d;
    color: #fff;
}

.wp-core-ui .button-primary {
    background: transparent;
    border: 4px solid #FF4459;
    font-size: 18px !important;
    line-height: 1.2;
    min-height: 2.5rem;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    padding: 6px 23px !important;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.wp-core-ui .button-primary:hover {
    color: #fff !important;
    background: #FF4459;
    border: 4px solid #FF4459;
}

.wp-core-ui .button-primary:focus,
.login h1 a:focus {
    box-shadow: none;
    background: #FF4459;
}

.login form .forgetmenot {
    float: none;
    display: inline-block;
    margin-bottom: 20px !important;
}

.login .forgetmenot label {
    display: inline-block !important;
    margin-bottom: 0 !important;
}

.login .button-primary {
    float: none;
    display: inline-block;
    text-align: center;
}

.login .privacy-policy-page-link {
    margin: 6px 0;
    display: block;
}

.privacy-policy-link {
    text-decoration: none;
    color: #a0a5aa;
}

.login .message {
    border-left: 4px solid #FF4459;
    border-radius: 10px;
    background-color: #324a5e;
    color: #fff;
}

.login form {
    border-radius: 25px;
    background-color: #324a5e;
    position: relative;
    overflow: visible;
    color: #fff;
}

.login label {
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.login form .input:focus,
.login input[type="text"]:focus,
.login input[type=checkbox]:focus {
    box-shadow: none;
    border: 1px solid #FF4459 !important;
}

.login #loginform {
    margin-bottom: 5rem;
}

.login #loginform::after {
    display: none;
}

.login #loginform:hover::after {
    width: 180px;
    height: 180px;
    right: -50px;
    bottom: -50px;
}


#backtoblog {
    margin: 10px 0;
}

#backtoblog,
#nav {
    text-align: center;
}

.login #backtoblog a,
.login #nav a,
.login .privacy-policy-page-link a,
.language-switcher label .dashicons {
    color: #fff;
    font-size: 16px;
}

#language-switcher-locales {
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: none;
    border: 1px solid #7e8993;
    background-color: #1e2e3d;
    color: #fff;
    border-radius: 4px;
    height: 40px;
}

.language-switcher .button {
    background: transparent;
    border: 4px solid #FF4459;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    height: 40px !important;
    line-height: 1;
    padding: 0 20px !important;
    font-size: 14px !important;
    margin-left: 5px;
    vertical-align: top;
}

.language-switcher .button:hover {
    color: #fff !important;
    background: #FF4459;
    border: 4px solid #FF4459;
}

input[type=checkbox] {
    height: 16px !important;
    width: 15px !important;
    box-shadow: none;
    border: 1px solid #7e8993;
}

input[type=checkbox]:checked::before {
    width: 19px !important;
    height: 18px !important;
    margin: -2px 0px 0px -3px !important;
}

.dashicons-visibility:before,
.dashicons-hidden:before {
    color: #fff;
}

.dashicons {
    margin-top: 0px;
}

.interim-login.login h1 a {
    width: 140px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.wp-core-ui .button {
    color: #fff;
    border-color: #FF4459;
    border-width: 2px;
    background: transparent;
}

.wp-core-ui .button:hover {
    color: #FF4459;
    border-color: #FF4459;
    border-width: 2px;
}

/* Animated Stars */
@keyframes star-enter {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }

    80% {
        transform: scale(1.2) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
}

body::before,
body::after,
#login::before,
html::before,
.language-switcher::before,
.language-switcher::after,
.login h1::before,
.login h1::after,
.login form::before,
.login form::after {
    content: "";
    position: fixed;
    z-index: -1;
    animation: star-enter 1s ease-out forwards;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1em;
    height: 1em;
}

/* SVG 1: Star (5-point) - 5 items */
body::after,
.language-switcher::before,
.login h1::after,
.login form::before,
html::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' fill-opacity='0.3'%3E%3Cpath d='M12 2l2.4 7.2h7.6l-6 4.8 2.4 7.2-6-4.8-6 4.8 2.4-7.2-6-4.8h7.6z'/%3E%3C/svg%3E");
}

/* SVG 2: Sparkle (4-point) - 5 items */
body::before,
#login::before,
.language-switcher::after,
.login h1::before,
.login form::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' fill-opacity='0.3'%3E%3Cpath d='M12 0L14.59 9.41L24 12L14.59 14.59L12 24L9.41 14.59L0 12L9.41 9.41L12 0Z'/%3E%3C/svg%3E");
}

/* Star 1 (Small - Sparkle) */
body::before {
    top: 10%;
    left: 5%;
    font-size: 18px;
    animation-delay: 0.1s;
}

/* Star 2 (Medium - Star) */
body::after {
    top: 20%;
    right: 10%;
    font-size: 32px;
    animation-delay: 0.3s;
}

/* Star 3 (Medium - Sparkle) */
#login::before {
    bottom: 15%;
    left: 15%;
    font-size: 28px;
    animation-delay: 0.5s;
}

/* Star 4 (Medium - Star) */
html::before {
    bottom: 25%;
    right: 20%;
    font-size: 35px;
    animation-delay: 0.7s;
}

/* Star 5 (Small - Star) */
.language-switcher::before {
    top: 50%;
    left: 8%;
    font-size: 22px;
    animation-delay: 0.9s;
}

/* Star 6 (Medium - Sparkle) */
.language-switcher::after {
    top: 5%;
    right: 35%;
    font-size: 30px;
    animation-delay: 1.1s;
}

/* Star 7 (Small - Star) */
.login h1::before {
    top: 80%;
    left: 30%;
    font-size: 20px;
    animation-delay: 1.3s;
}

/* Star 8 (Medium - Sparkle) */
.login h1::after {
    top: 60%;
    right: 5%;
    font-size: 25px;
    animation-delay: 1.5s;
}

/* Star 9 (Medium - Star) */
.login form::before {
    bottom: 5%;
    left: 45%;
    font-size: 34px;
    animation-delay: 1.7s;
}

/* Star 10 (Medium - Sparkle) */
.login form::after {
    top: 35%;
    left: 25%;
    font-size: 28px;
    animation-delay: 1.9s;
}

/* Static Shaking Rocket */
@keyframes rocket-shake {

    0%,
    100% {
        transform: rotate(0deg) translateY(0);
    }

    50% {
        transform: rotate(0deg) translateY(-10px);
    }

    /* Increased shake */
}

@keyframes rocket-enter {
    0% {
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%) scale(0.5);
        opacity: 0;
    }

    100% {
        right: -190px;
        top: 30%;
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

#login::after {
    content: "";
    position: absolute;
    right: -190px;
    /* Final position */
    bottom: auto;
    top: 30%;
    /* Final position */
    height: 100%;
    width: 250px;
    background-image: url("data:image/svg+xml,%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D.cls-2%7Bfill:%23ccdeeb;%7D.cls-3%7Bclip-path:url(%23clip-path);%7D.cls-4%7Bfill:%23a6c0d3;%7D.cls-5%7Bfill:%23f18443;%7D.cls-6%7Bfill:%23f7af75;%7D.cls-7%7Bfill:%2388b0c7;%7D.cls-8%7Bfill:%233b94b5;%7D.cls-9%7Bfill:%2300aad6;%7D.cls-10%7Bfill:%23e8394a;%7D.cls-11%7Bfill:%230092c8;%7D.cls-12%7Bfill:%23e83a4a;%7D.cls-13%7Bfill:%23e6293b;%7D.cls-14%7Bfill:%23e7ecf8;%7D.cls-15%7Bfill:%23ea5351;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' x='23.63' y='24.17' width='452.33' height='451.76'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3ERaketje%3C/title%3E%3Cpath class='cls-2' d='M281.08,342.13,158,219.05,258.51,118.53A326.32,326.32,0,0,1,434.93,27.25l18.47-3.08h3.07a18.39,18.39,0,0,1,18.47,18.46h0v3.08L472.89,65.2a325.24,325.24,0,0,1-90.27,175.39L281.08,342.13Z'/%3E%3Cg class='cls-3'%3E%3Cpath class='cls-4' d='M391.85,159.56,245.18,306.24l35.9,35.89L381.6,241.62c48.21-48.21,79-108.73,90.26-175.4L476,46.73V43.66a17,17,0,0,0-5.13-12.31,322.93,322.93,0,0,1-79,128.21Z'/%3E%3Cpath class='cls-5' d='M286.21,439.58a16.09,16.09,0,0,0-22.57,0c-8.2,8.2-13.33,33.84-14.36,34.87v1s1,1,1,0c1,0,25.64-5.13,34.87-14.36,8.21-6.16,8.21-15.39,1-21.54Z'/%3E%3C/g%3E%3Cpath class='cls-5' d='M60.55,213.92a16.1,16.1,0,0,0-22.56,0c-8.21,8.21-13.34,32.82-13.34,33.85v1s1,1,1,0c1,0,25.64-5.13,34.87-14.36,7.18-5.13,7.18-14.36,0-20.52Z'/%3E%3Cpath class='cls-5' d='M133.38,366.75c-18.46-18.46-49.23-18.46-67.7,0-25.64,25.64-41,100.52-42.05,103.6,0,2,0,3.07,1,4.1a13,13,0,0,0,6.16,1c3.08-1,78-15.39,103.59-42.06a46.16,46.16,0,0,0-1-66.67Z'/%3E%3Cpath class='cls-6' d='M130.3,367.78a24.15,24.15,0,0,0-33.85,0C83.12,381.11,75.94,418,75.94,419.06s0,2.05,1,2.05c1,1,1,1,2,1,2,0,39-8.21,51.28-20.51a24.15,24.15,0,0,0,0-33.85Z'/%3E%3Cpolygon class='cls-7' points='291.34 393.42 260.57 362.65 322.11 301.11 322.11 362.65 291.34 393.42 291.34 393.42'/%3E%3Cpath class='cls-8' d='M288.26,355.47,307.75,336a48.85,48.85,0,0,0,14.36-34.87h0l-61.54,61.54,30.77,30.77,10.25-10.26-13.33-13.33a9.92,9.92,0,0,1,0-14.36Z'/%3E%3Cpath class='cls-2' d='M311.85,455l-41-41,73.85-73.85a28.68,28.68,0,0,1,20.52-8.2h0a28.67,28.67,0,0,1,28.72,28.72h0a28.64,28.64,0,0,1-8.21,20.51L311.85,455Z'/%3E%3Cpath class='cls-4' d='M385.7,360.6l-73.85,73.85-30.77-30.77-10.26,10.25,41,41,73.85-73.85a28.64,28.64,0,0,0,8.21-20.51,30.23,30.23,0,0,0-2.06-10.26,21.24,21.24,0,0,1-6.15,10.26Z'/%3E%3Cpath class='cls-7' d='M106.71,311.36h0c7.18-7.18,15.39-12.3,23.59-14.36l17.44-6.15,61.54,61.54-6.15,17.44a60.94,60.94,0,0,1-14.36,23.59h0l-82.06-82.06Z'/%3E%3Cpath class='cls-8' d='M147.74,290.85,132.35,296l33.85,33.85c8.21,8.2,10.26,19.48,7.18,29.74h0a34.68,34.68,0,0,1-6.15,12.31l21.54,21.54c7.18-7.18,12.3-15.39,14.36-23.59l6.15-17.44-61.54-61.54Z'/%3E%3Cpolygon class='cls-7' points='106.71 208.79 137.48 239.56 199.02 178.02 137.48 178.02 106.71 208.79 106.71 208.79'/%3E%3Cpath class='cls-8' d='M134.4,216a9.92,9.92,0,0,1,0-14.36L158,178H137.48l-30.77,30.77,30.77,30.78h0c6.16-6.16,6.16-14.36,0-20.52L134.4,216Z'/%3E%3Cpath class='cls-2' d='M45.17,188.28l41,41,73.85-73.85a28.64,28.64,0,0,0,8.2-20.52h0c0-15.38-13.33-28.72-28.72-28.72h0A28.64,28.64,0,0,0,119,114.43L45.17,188.28Z'/%3E%3Cpath class='cls-9' d='M311.85,147.25a41,41,0,1,1-41,41,41,41,0,0,1,41-41Z'/%3E%3Cpath class='cls-10' d='M311.85,157.51c-17.44,0-30.77,13.33-30.77,30.77s13.33,30.77,30.77,30.77,30.77-13.33,30.77-30.77-13.33-30.77-30.77-30.77Zm0,82.06a51.29,51.29,0,1,1,51.29-51.29,50.79,50.79,0,0,1-51.29,51.29Z'/%3E%3Cpath class='cls-11' d='M295.44,215c-3.08-5.13-4.1-10.26-4.1-16.41,0-17.44,13.33-30.77,30.77-30.77,6.15,0,11.28,2,16.41,4.1-6.16-8.21-15.39-14.36-26.67-14.36-17.44,0-30.77,13.33-30.77,30.77,0,11.28,6.15,20.51,14.36,26.67Z'/%3E%3Cpath class='cls-12' d='M281.08,342.13,247.23,376a9.9,9.9,0,0,1-14.36,0L124.15,267.26a9.9,9.9,0,0,1,0-14.36L158,219.05,281.08,342.13Z'/%3E%3Cpath class='cls-13' d='M205.18,317.52,140.56,252.9c-4.1-4.1-11.28-4.1-16.41,0h0a9.9,9.9,0,0,0,0,14.36L232.87,376a9.9,9.9,0,0,0,14.36,0l33.85-33.85-35.9-35.89L233.9,317.52a19.84,19.84,0,0,1-28.72,0Z'/%3E%3Cpolygon class='cls-12' points='271.17 413.99 301.63 383.52 342.97 424.87 312.51 455.33 271.17 413.99 271.17 413.99'/%3E%3Cpath class='cls-13' d='M332.36,413.93,318,428.29c-6.16,6.16-14.36,6.16-20.52,0L277,407.78l-6.16,6.15,41,41,30.77-30.77-10.26-10.26Z'/%3E%3Cpath class='cls-14' d='M199,213.92c-1,0-3.07,0-4.1-1a5,5,0,0,1,0-7.18l51.29-51.29a5.08,5.08,0,1,1,7.18,7.18L202.1,212.9c0,1-2,1-3.08,1Z'/%3E%3Cpath class='cls-14' d='M270.82,142.12c-1,0-3.07,0-4.1-1a5,5,0,0,1,0-7.18l20.51-20.52a5.08,5.08,0,1,1,7.18,7.18L273.9,141.1c0,1-2,1-3.08,1Z'/%3E%3Cpath class='cls-12' d='M457.5,24.17h-3.08l-19.49,3.08C403.14,32.37,373.39,42.63,344.67,57l49.24,49.23,49.23,49.24C457.5,126.74,466.73,97,472.89,65.2L476,46.73V43.66c0-11.29-8.2-19.49-18.46-19.49Z'/%3E%3Cpath class='cls-15' d='M383.65,66.22a5.64,5.64,0,0,1-5.13-3.08Q377,58.54,381.6,57c20.51-8.21,41-13.33,62.57-17.44,3.07,0,5.12,1,6.15,4.11,0,3.07-1,5.12-4.1,6.15-20.52,3.08-41,9.23-60.52,16.41Z'/%3E%3Cpath class='cls-15' d='M311.85,138v-1a50.79,50.79,0,0,0-51.28,51.29h1a10,10,0,0,0,10.26-8.21c1-7.18,5.13-13.33,9.23-18.46,6.15-6.15,13.33-11.28,22.57-13.33a10,10,0,0,0,8.2-10.26Z'/%3E%3Cpath class='cls-13' d='M311.85,238.54v1a50.79,50.79,0,0,0,51.29-51.29h-1a10,10,0,0,0-10.26,8.21c-1,7.18-5.13,13.33-9.23,18.46-6.15,6.15-13.33,11.28-22.56,13.33a10,10,0,0,0-8.21,10.26Z'/%3E%3Cpath class='cls-14' d='M332.36,378c-1,0-3.07,0-4.1-1a5,5,0,0,1,0-7.18l20.52-20.52a5.08,5.08,0,1,1,7.18,7.18L335.44,377c0,1-2.05,1-3.08,1Z'/%3E%3Cpath class='cls-4' d='M160.05,134.94,86.2,208.79,55.43,178,45.17,188.28l41,41,73.85-73.85a28.64,28.64,0,0,0,8.2-20.52,30.18,30.18,0,0,0-2.05-10.25,21.25,21.25,0,0,1-6.15,10.25Z'/%3E%3Cpath class='cls-14' d='M106.71,152.38c-1,0-3.08,0-4.1-1a5,5,0,0,1,0-7.18l20.51-20.51a5.08,5.08,0,0,1,7.18,7.18l-20.51,20.51c0,1-2.05,1-3.08,1Z'/%3E%3Cpolygon class='cls-12' points='45.49 188.33 75.95 157.87 117.29 199.21 86.83 229.67 45.49 188.33 45.49 188.33'/%3E%3Cpath class='cls-13' d='M106.71,188.28,92.35,202.64c-6.15,6.15-14.36,6.15-20.51,0L51.32,182.13l-6.15,6.15,41,41L117,198.54l-10.26-10.26Z'/%3E%3Cpath class='cls-13' d='M417.5,129.82l25.64,25.64C457.5,126.74,466.73,97,472.89,65.2L476,46.73V43.66a17,17,0,0,0-5.13-12.31c-11.28,34.87-29.74,68.72-53.33,98.47Z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat !important;
    z-index: -1;
    animation: rocket-enter 2s ease-out forwards, rocket-shake 3s ease-in-out 2s infinite;
}