@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


body {
    background-color: #273C4F;
    background-image:
        url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-70 -70 190 190'%3E%3Cstyle%3E@keyframes rotate { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } } .out-top { animation: rotate 20s linear infinite; transform-origin: 13px 25px; } %3C/style%3E%3Cpath fill='%23385369' class='out-top' d='M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z'/%3E%3C/svg%3E"),
        url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-20 -20 210 210'%3E%3Cstyle%3E@keyframes rotate { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } } .out-bottom { animation: rotate 25s linear infinite; transform-origin: 84px 93px; } %3C/style%3E%3Cpath fill='%231e2e3d' class='out-bottom' d='M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z'/%3E%3C/svg%3E"),
        linear-gradient(to bottom, #273C4F, #2B4457);
    background-size: 1500px 1500px, 1500px 1500px, cover;
    background-position: -750px -750px, right -750px bottom -750px, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
    font-family: "PT Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Removed to fix vertical centering issues on some screens */
}

/* Admin Email Confirmation Screen Styles */
.admin-email__heading,
.admin-email__details {
    color: #fff !important;
    font-family: "PT Sans", sans-serif !important;
}

.admin-email__heading {
    font-weight: bold !important;
}

.admin-email__details a {
    color: #fff !important;
    text-decoration: underline;
}

.admin-email__details a:hover {
    color: #FF4459 !important;
    text-decoration: none;
}

.admin-email__actions-primary .button:first-child {
    margin-right: 15px;
    margin-bottom: 15px;
}

.admin-email__actions-secondary a {
    color: #fff !important;
}

.login #login {
    padding: 0 !important;
    position: relative;
    overflow: visible !important;
    margin: auto;
}

.login h1 a {
    background-image: url(https://mademarketing.nl/cdn/ditiseenmadewebsite.png) !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 95% !important;
    height: 120px !important;
    background-color: transparent !important;
    transition: all 0.5s ease;
}

.login h1 a:hover {
    transform: scale(1.125);
}

.login form {
    padding: 45px 35px;
}

a {
    transition: all 0.5s ease;
}

a:hover {
    color: #FF4459 !important;
    text-decoration: underline !important;
}

.login input[type=text],
.login input[type=password] {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    padding: 5px 10px;
    box-shadow: none;
    border: 1px solid #7e8993;
    background-color: #1e2e3d;
    color: #fff;
}

.wp-core-ui .button-primary {
    background: transparent;
    border: 4px solid #FF4459;
    font-size: 18px !important;
    line-height: 1.2;
    min-height: 2.5rem;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    padding: 6px 23px !important;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.wp-core-ui .button-primary:hover {
    color: #fff !important;
    background: #FF4459;
    border: 4px solid #FF4459;
}

.wp-core-ui .button-primary:focus,
.login h1 a:focus {
    box-shadow: none;
    background: #FF4459;
}

.login form .forgetmenot {
    float: none;
    display: inline-block;
    margin-bottom: 20px !important;
}

.login .forgetmenot label {
    display: inline-block !important;
    margin-bottom: 0 !important;
}

.login .button-primary {
    float: none;
    display: inline-block;
    text-align: center;
}

.login .privacy-policy-page-link {
    margin: 6px 0;
    display: block;
}

.privacy-policy-link {
    text-decoration: none;
    color: #a0a5aa;
}

.login .message {
    border-left: 4px solid #FF4459;
    border-radius: 10px;
    background-color: #324a5e;
    color: #fff;
}

.login form {
    border-radius: 25px;
    background-color: #385369;
    position: relative;
    overflow: visible;
    color: #fff;
    border-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.login label {
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.login form .input:focus,
.login input[type="text"]:focus {
    box-shadow: none;
    border: 2px solid #FF4459 !important;
}

.login #loginform {
    margin-bottom: 2rem;
}

.login #loginform::after {
    display: none;
}

.login #loginform:hover::after {
    width: 180px;
    height: 180px;
    right: -50px;
    bottom: -50px;
}


#backtoblog {
    margin: 10px 0;
}

#backtoblog,
#nav {
    text-align: center;
}

.login #backtoblog a,
.login #nav a,
.login .privacy-policy-page-link a,
.language-switcher label .dashicons {
    color: #fff;
    font-size: 16px;
}

.login #backtoblog a:hover,
.login #backtoblog a:focus,
.login #backtoblog a:active,
.login #nav a:hover,
.login #nav a:focus,
.login #nav a:active,
.login .privacy-policy-page-link a:hover,
.login .privacy-policy-page-link a:focus,
.login .privacy-policy-page-link a:active {
    text-decoration: none !important;
}

#language-switcher-locales {
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: none;
    border: 1px solid #7e8993;
    background-color: #1e2e3d;
    color: #fff;
    border-radius: 4px;
    height: 40px;
    width: 220px;
}

.language-switcher .button {
    background: transparent;
    border: 4px solid #FF4459;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    height: 40px !important;
    line-height: 1;
    padding: 0 20px !important;
    font-size: 14px !important;
    margin-left: 5px;
    vertical-align: top;
}

.language-switcher .button:hover {
    color: #fff !important;
    background: #FF4459;
    border: 4px solid #FF4459;
}

input[type=checkbox],
input[type=checkbox]:hover,
input[type=checkbox]:focus,
input[type=checkbox]:active {
    height: 16px !important;
    width: 15px !important;
    box-shadow: none;
    border: none !important;
    background-color: #1e2e3d;
    outline: none !important;
}

input[type=checkbox]:checked::before {
    width: 19px !important;
    height: 18px !important;
    margin: -2px 0px 0px -3px !important;
}

.dashicons-visibility:before,
.dashicons-hidden:before {
    color: #fff;
}

.dashicons {
    margin-top: 0px;
}

.interim-login.login h1 a {
    width: 140px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.wp-core-ui .button {
    color: #fff;
    border-color: #FF4459;
    border-width: 2px;
    background: transparent;
}

.wp-core-ui .button:hover {
    color: #FF4459;
    border-color: #FF4459;
    border-width: 2px;
}

.wp-core-ui .button.wp-hide-pw:focus,
.wp-core-ui .button.wp-hide-pw:hover,
.wp-core-ui .button.wp-hide-pw:active {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: transparent !important;
}

.wp-core-ui .button.wp-hide-pw:focus .dashicons::before,
.wp-core-ui .button.wp-hide-pw:hover .dashicons::before {
    color: #FF4459 !important;
}



/* Static Shaking Rocket */
@keyframes rocket-shake {

    0%,
    100% {
        transform: rotate(0deg) translateY(0);
    }

    50% {
        transform: rotate(0deg) translateY(-10px);
    }

    /* Increased shake */
}

@keyframes rocket-enter {
    0% {
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%) scale(0.5);
        opacity: 0;
    }

    100% {
        right: -190px;
        top: 30%;
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

#login::after {
    content: "";
    position: absolute;
    right: -190px;
    /* Final position */
    bottom: auto;
    top: 30%;
    /* Final position */
    height: 100%;
    width: 250px;
    background-image: url("https://mademarketing.nl/cdn/raketje.svg");
    background-size: contain;
    background-repeat: no-repeat !important;
    z-index: -1;
    animation: rocket-enter 2s ease-out forwards, rocket-shake 3s ease-in-out 2s infinite;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {

    /* Hide heavy animations and fixed elements */
    #login::after {
        display: none !important;
    }


    /* Reset Body Background */
    body {
        background: #273C4F;
        height: auto;
        min-height: 100vh;
        padding-bottom: 20px;
    }

    /* Adjust Login Container */
    .login #login {
        padding: 20px 10px !important;
        width: 100% !important;
        max-width: 320px;
        margin: 0 auto;
    }

    /* Adjust Logo */
    .login h1 a {
        width: 100% !important;
        height: 80px !important;
        background-size: contain !important;
        margin-bottom: 20px;
    }

    /* Adjust Form */
    .login form {
        padding: 30px 20px;
        margin-top: 0;
        border-radius: 15px;
    }

    /* Adjust Inputs */
    .login input[type=text],
    .login input[type=password] {
        font-size: 16px;
        /* Prevents zoom on iOS */
        padding: 10px;
    }

    /* Adjust Buttons */
    .wp-core-ui .button-primary {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Language Switcher */
    .language-switcher {
        text-align: center;
        margin-top: 20px;
    }

    .language-switcher .button {
        display: inline-block;
        margin: 5px;
        margin-top: 10px !important;
    }
}

/* groetjes Thomas */